Repository ricardocosta/bank-ui, changes with the labels that .github/labeler.yml gives for each.
All labels: @github, @apps/shell, @apps/transactions, @apps/sandbox, @libs/ui, @libs/devex

chore: Bump Vitest dependencies
  .yarn/cache/@vitest-coverage-c8-npm-0.31.1-e2ef08ef36-e9924c652c.zip
  .yarn/cache/@vitest-coverage-c8-npm-0.31.2-ba99cbb964-1c11fac402.zip
  .yarn/cache/@vitest-expect-npm-0.31.1-fdffc22d63-0d1e135ae7.zip
  .yarn/cache/@vitest-expect-npm-0.31.2-4c3784aea2-ffbf62adc3.zip
  .yarn/cache/@vitest-runner-npm-0.31.1-c56f2cd2b4-cc8702e21b.zip
  .yarn/cache/@vitest-runner-npm-0.31.2-fe06a08d60-1e4b601259.zip
  .yarn/cache/@vitest-snapshot-npm-0.31.1-70a6b169dc-de05fa9136.zip
  .yarn/cache/@vitest-snapshot-npm-0.31.2-46cf8356b2-a12d58cbac.zip
  .yarn/cache/@vitest-spy-npm-0.31.1-c15b6f7777-8b06cf25fc.zip
  .yarn/cache/@vitest-spy-npm-0.31.2-52596270da-0885fad1b5.zip
  .yarn/cache/@vitest-ui-npm-0.31.1-6e296fbc42-0170d4c343.zip
  .yarn/cache/@vitest-ui-npm-0.31.2-9fcbbd4193-f103b429a8.zip
  .yarn/cache/@vitest-utils-npm-0.31.1-0dbb81ec41-58016c1854.zip
  .yarn/cache/@vitest-utils-npm-0.31.2-19646faf03-49461b4141.zip
  .yarn/cache/c8-npm-7.14.0-dbb87a3021-ca44bbd200.zip
  .yarn/cache/vite-node-npm-0.31.1-6f6dfd4e7e-f70ffa3f6d.zip
  .yarn/cache/vite-node-npm-0.31.2-95531d8ef1-f17587b40b.zip
  .yarn/cache/vitest-npm-0.31.1-d67f37acf0-b3f64a3610.zip
  .yarn/cache/vitest-npm-0.31.2-c317753f5b-a4d721f56c.zip
  package.json
  yarn.lock
Labels: none

chore: Bump Vitest dependencies
  .yarn/cache/@vitest-coverage-c8-npm-0.31.1-e2ef08ef36-e9924c652c.zip
  .yarn/cache/@vitest-coverage-c8-npm-0.31.2-ba99cbb964-1c11fac402.zip
  .yarn/cache/@vitest-expect-npm-0.31.1-fdffc22d63-0d1e135ae7.zip
  .yarn/cache/@vitest-expect-npm-0.31.2-4c3784aea2-ffbf62adc3.zip
  .yarn/cache/@vitest-runner-npm-0.31.1-c56f2cd2b4-cc8702e21b.zip
  .yarn/cache/@vitest-runner-npm-0.31.2-fe06a08d60-1e4b601259.zip
  .yarn/cache/@vitest-snapshot-npm-0.31.1-70a6b169dc-de05fa9136.zip
  .yarn/cache/@vitest-snapshot-npm-0.31.2-46cf8356b2-a12d58cbac.zip
  .yarn/cache/@vitest-spy-npm-0.31.1-c15b6f7777-8b06cf25fc.zip
  .yarn/cache/@vitest-spy-npm-0.31.2-52596270da-0885fad1b5.zip
  .yarn/cache/@vitest-ui-npm-0.31.1-6e296fbc42-0170d4c343.zip
  .yarn/cache/@vitest-ui-npm-0.31.2-9fcbbd4193-f103b429a8.zip
  .yarn/cache/@vitest-utils-npm-0.31.1-0dbb81ec41-58016c1854.zip
  .yarn/cache/@vitest-utils-npm-0.31.2-19646faf03-49461b4141.zip
  .yarn/cache/c8-npm-7.14.0-dbb87a3021-ca44bbd200.zip
  .yarn/cache/vite-node-npm-0.31.1-6f6dfd4e7e-f70ffa3f6d.zip
  .yarn/cache/vite-node-npm-0.31.2-95531d8ef1-f17587b40b.zip
  .yarn/cache/vitest-npm-0.31.1-d67f37acf0-b3f64a3610.zip
  .yarn/cache/vitest-npm-0.31.2-c317753f5b-a4d721f56c.zip
  package.json
  yarn.lock
Labels: none

chore: Bump playwright dependencies to 1.34.3
  .github/workflows/ci.yml
  .yarn/cache/@playwright-test-npm-1.31.2-10c7aaacb7-5459ee0ce1.zip
  .yarn/cache/@playwright-test-npm-1.34.3-52e4547b97-b387d85f09.zip
  .yarn/cache/playwright-core-npm-1.31.2-6683ff46a7-bf1257b7d8.zip
  .yarn/cache/playwright-core-npm-1.34.3-f476cefee2-eaf9e9b2d7.zip
  .yarn/cache/playwright-npm-1.31.2-6dca6cf210-da7a190275.zip
  apps/sandbox-e2e/project.json
  apps/shell-e2e/project.json
  apps/transactions-e2e/project.json
  libs/devex/src/generators/app/generator.test.ts
  libs/devex/src/generators/app/generator.ts
  package.json
  yarn.lock
Labels: @apps/shell, @apps/transactions, @apps/sandbox, @libs/devex

chore: Bump playwright dependencies to 1.34.3
  .github/workflows/ci.yml
  .yarn/cache/@playwright-test-npm-1.31.2-10c7aaacb7-5459ee0ce1.zip
  .yarn/cache/@playwright-test-npm-1.34.3-52e4547b97-b387d85f09.zip
  .yarn/cache/playwright-core-npm-1.31.2-6683ff46a7-bf1257b7d8.zip
  .yarn/cache/playwright-core-npm-1.34.3-f476cefee2-eaf9e9b2d7.zip
  .yarn/cache/playwright-npm-1.31.2-6dca6cf210-da7a190275.zip
  apps/sandbox-e2e/project.json
  apps/shell-e2e/project.json
  apps/transactions-e2e/project.json
  libs/devex/src/generators/app/generator.test.ts
  libs/devex/src/generators/app/generator.ts
  package.json
  yarn.lock
Labels: @apps/shell, @apps/transactions, @apps/sandbox, @libs/devex

chore: Configure grouped dependabot updates
  .github/dependabot.yml
Labels: @github

chore: Configure grouped dependabot updates
  .github/dependabot.yml
Labels: @github

fix: Fix dependabot config for NX grouped updates
  .github/dependabot.yml
Labels: @github

fix: Fix dependabot config for NX grouped updates
  .github/dependabot.yml
Labels: @github

.github/labeler.yml:

"@config":
  - ".commitlintrc.js"
  - ".eslintignore"
  - ".lintstagedrc.js"
  - ".prettierignore"
  - ".prettierrc.js"
  - ".versionrc.js"
  - "codecov.yml"
  - "nx.json"
  - "**/.eslintrc.{js,json}"
  - "**/tsconfig?(.+([a-z])).json"

"@github":
  - .github/*
  - .github**/*

"@apps/shell":
  - apps/shell/*
  - apps/shell/**/*
  - apps/shell-e2e/*
  - apps/shell-e2e/**/*

"@apps/transactions":
  - apps/transactions/*
  - apps/transactions/**/*
  - apps/transactions-e2e/*
  - apps/transactions-e2e/**/*

"@apps/sandbox":
  - apps/sandbox/*
  - apps/sandbox/**/*
  - apps/sandbox-e2e/*
  - apps/sandbox-e2e/**/*

"@libs/ui":
  - libs/ui/*
  - libs/ui/**/*

"@libs/devex":
  - libs/devex/*
  - libs/devex/**/*
